*.class
*.log

# OSX
.DS_Store

# Eclipse:
.classpath
.settings
.project
bin

# Idea:
*.iml
.idea

# Maven:
target
pom.xml

# Lein:
.lein-*
/checkouts

# Misc
.cache
*.swp
.metadata
*.log
confs

# Compass
.sass-cache

# hg
*.orig
classes/*

# properties
/resources/private/configs/*.properties

.nrepl-port
