<div class="light-content-area wrapper">
  <h1>Vaihda unohtunut salasana</h1>

  <p>Syötä alle haluamasi uusi salasana.</p>

  <div class="info" ng-show="changed">
    <p>Salasanasi on vaihdettu onnistuneesti. Voit nyt kirjautua järjestelmään uuden salasanasi avulla. <a href="/">Etusivulle</a></p>
  </div>

  <form id="change-password" name="passwordChangeForm" ng-hide="changed">
    <fieldset>
      <label for="password">Salasana:</label>
      <span class="error" ng-show="passwordChangeForm.password.$error.required && !passwordChangeForm.password.$pristine">pakollinen tieto</span>
      <span class="error" ng-show="passwordChangeForm.password.$error.minlength">vähintään 6 merkkiä</span>
      <input type="password" name="password" ng-model="data.password" required ng-minlength="6">
    </fieldset>
    <fieldset class="form-entry">
      <label for="password2">Salasana uudelleen:</label>
      <span class="error" ng-show="passwordChangeForm.password2.$error.password2 && !passwordChangeForm.password2.$pristine">salasana ei täsmää</span>
      <input type="password" name="password2" ng-model="data.password2" ui-validate="{password2 : 'correctPassword($value)'}">
    </fieldset>
    <button id="change-password-button" ng-disabled="passwordChangeForm.$invalid" ng-click="changePassword()" class="btn">Vaihda salasana</button>
  </form>
</div>
