<div class="light-content-area wrapper">
  <h1>Unohditko salasanasi?</h1>

  <p>Jos unohdit salasanasi, niin syötä allaolevaan kenttään käyttäjätunnukseesi sidottu sähköpostiosoite, niin
  lähetämme kyseiseen osoitteeseen sinulle sähköpostin, jonka avulla voit vaihtaa unohtuneen salasanasi.</p>

  <div class="info" ng-show="sent">
    <p>Salasanan vaihdon varmistussähköposti on lähetetty osoitteeseen <strong>{{emailsent}}</strong>. Seuraa sähköpostin ohjeita vaihtaaksesi salasanasi.</p>
  </div>

  <form id="reset-password" name="resetEmailForm" ng-hide="sent">
    <fieldset>
      <label for="email">Sähköposti:</label>
      <span class="error" ng-show="resetEmailForm.email.$error.email">Epäkelpo sähköpostiosoite</span>
      <span class="error" ng-show="resetEmailForm.email.$error.required && !resetEmailForm.email.$pristine">pakollinen tieto</span>
      <input type="email" name="email" ng-model="data.email" required />
    </fieldset>
    <button id="request-reset-mail" ng-disabled="resetEmailForm.$invalid" ng-click="sendResetEmail()" class="btn">Lähetä sähköposti</button>
  </form>
</div>
